* {
  box-sizing: border-box;
}

body {
  font-family: 'Soutse Pro', sans-serif;
  font-size: 15px;
  line-height: 24px;
}

a {
  text-decoration: none;
  color: inherit;
}

.header {
  background-image: url(../images/header-bg.jpg);
  min-height: 783px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
}

.container {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 15px 0 15px;
}

.header__top {
  display: flex;
  justify-content: space-between;
  height: 100px;
  align-items: center;
}

.menu__list {
  display: flex;
}

.menu__list li + li {
  padding-left: 50px;
}

.login {
  margin-right: 44px;
  color: #fff;
  text-transform: uppercase;
  font-weight: 600;
}

.menu__list a {
  opacity: 0.5;
  color:#fff;
  font-weight: 600;
  text-transform: uppercase;
  transition: all 0.5s;
}

.menu__list a:hover {
  opacity: 1;
}

.sign-up {
  text-transform: uppercase;
  color: #250f8a;
  font-weight: 600;
  background-color: #fff;
  padding: 8px 43px;
  border-radius: 20px;
}



